/* Generic Selectors */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #333333;
  background-color: #F9F9F9; }

p {
  width: 80%; }

li {
  list-style-type: disc;
  line-height: 150%; }

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000; }

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border-bottom: 3px solid #C6EC8C; }

/**************** Pseudo classes ****************/
a:link {
  color: #00CC00;
  text-decoration: underline;
  font-weight: bold; }

li :link {
  color: #00CC00;
  text-decoration: none;
  font-weight: bold; }

a:visited {
  color: #00CC00;
  text-decoration: underline;
  font-weight: bold; }

li a:visited {
  color: #00CC00;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #0060ff;
  padding-bottom: 5px;
  font-weight: bold;
  text-decoration: underline; }

li a:hover {
  display: block;
  color: #0060ff;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C6EC8C; }

a:active {
  color: #ff0066;
  font-weight: bold; }

/************************* ID's *************************/
#navigation {
  position: fixed;
  /*    This puts it exactly at the top, need to determine what margin-top and top do differently */
  top: 0px;
  left: 0px;
  width: 210px;
  height: 600px;
  margin: 0;
  margin-top: 0px;
  border-right: 3px solid #C6EC8C;
  font-weight: normal; }

#navigation h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  color: #cccccc;
  border-bottom: 3px solid #C6EC8C; }

#centerDoc {
  position: absolute;
  padding: 0 0 20px 0;
  /*top right bottom left*/
  margin-top: 50px;
  margin-left: 235px; }
