---
layout: default
---
<article class="article">
  <div class="well">
    <h1>
      <a href="{{ site.baseurl}}{{ page.url }}"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time> - {{ page.title | escape}}</a>
      {% if page.author %} • <span itemprop="author">{{ page.author }}</span>{% endif %}
      {% if page.link %}
      <a class="page-title-link" href="{{ page.link }}" target="_blank" title="{{ page.title }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h1>
  {% if site.comments and page.comments and site.disqus %}
  <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p>
  {% endif %}
  <div class="post-content">
  {{ content }}
  </div>
  <div class="share-buttons">
    <h6>Share on: </h6>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook btn" title="Share on Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
      </li>
      <li>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google-plus btn" title="Share on Google Plus"><i class="fa fa-google-plus"></i><span> Google+</span></a>
      </li>
      <li>
        <a href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}" class="hacker-news btn" title="Share on Hacker News"><i class="fa fa-hacker-news"></i><span> Hacker News</span></a>
      </li>
      <li>
        <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="reddit btn" title="Share on Reddit"><i class="fa fa-reddit"></i><span> Reddit</span></a>
      </li>
    </ul>
  </div><!-- end share-buttons -->  
  
  {% if page.comments and site.disqus %}
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% endif %}
  </div>
</article>
<div class="pagination">
  {% if page.next %}
    <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
  {% endif %}
  {% if page.previous %}
    <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
  {% endif %}
</div>
{% include disqus.html %}